script(src="js/jquery-3.3.1.min.js")
script(src="js/popper.min.js")
script(src="js/bootstrap.min.js")
script(src="js/wow.min.js")
script(src="js/jquery.nicescroll.min.js")
script(src="js/canvas.js")
script(src="js/loading.js")
script(src="js/portfolio.js")
script new WOW().init();

