//- Start File Style 

link(rel="shortcut icon" href="images/logo/logo011.png")
link(rel="stylesheet" href="css/bootstrap.min.css")
link(rel="stylesheet" href="css/all.css")
link(rel="stylesheet" href="css/animate.css")
link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Teko|Titillium+Web&display=swap") 
link(rel="stylesheet" href="css/home.css")